h1 {
    color: blue;
    margin: 40%;
    

}

.paragrafo-padrao {
    background-color: aquamarine;
    margin: 30px;

}

.paragrafo-destacado {
    background-color: #ff0;
    margin: 30px;
}






 